.NavigationItem {
  font-size: 14px;
  margin-left: 14px;
  line-height: 1.5;
  display: inline-block;
  span {
    cursor: pointer;
  }
  &--level-1 {
    font-size: 18px;
  }
  &--level-2 {
    font-size: 16px;
  }
  &--level-3 {
    font-size: 14px;
  }
  &--level-4 {
    font-size: 14px;
  }
  &--level-5 {
  }
}

.NavigationLevel {
  ul {
    //padding: 0px 0px 0px 16px;
    margin: 0;
    list-style-type: none;
  }

  li {
  }

  &--closed {
    ul {
      display: none;
    }
  }

  .NavigationLevel__parent {
    display: flex;
    .NavigationToggle {
    }
    .NavigationItem {
      flex: 1;
      margin-left: 0px;
    }
  }
  .NavigationLevel__children {
    margin-left: 14px;
    .NavigationItem {
      //margin-left: 0px;
    }
  }
}
